
.results {
    display: grid;
    grid-template-columns: 18rem auto;
    overflow: scroll;
    min-height: 90.5vh;
}

.userResults{
    grid-column: 1;
    background-color: #ffffff;
}

.repo-info{
    grid-column: 2;
}

.results a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-info img {
    border-radius: 50px;
}