label, input[type=submit] {
    display: none;
}

form {
    position: absolute;
    left: 163px;
    top: 16px;
}

#username {
    height: 24px;
    width: 250px;
    padding: 2px 10px;
    background-color: #24292f;
    border: 0.5px solid #58606a;
    border-radius: 6px;
    color:white
}

#username::placeholder {
    color: #c7c8ca;
}

#username:focus{
    width: 525px;
    outline: none;
    background-color: #ffffff;
    color: #24292f;

    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

#username:active > .search-svg {
    display: none;
}

.search-svg {
    position: absolute;
    top: 4px;
    right: 4px;
}

.mini-avatar {
    float: right;
    position: absolute;
    top: 16px;
    right: 3rem;
}

.mini-avatar img {
    width: 25px;
    height:25px;
    border-radius: 50%;
}